In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.preprocessing import LabelEncoder, RobustScaler
from pandas.plotting import scatter_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.model_selection import  RandomizedSearchCV

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
train = pd.read_csv("D:/credit score classification/train.csv/train.csv")
test = pd.read_csv("D:/credit score classification/test.csv/test.csv")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_4460\1657554838.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv("D:/credit score classification/train.csv/train.csv")

In [19]:
train.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [20]:
train.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [21]:
train.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633330,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [22]:
train.duplicated().any()

False

In [23]:
#objects
for i in train.columns:
    if train[i].dtype == type(object):
        print(i,end=': ')
        print('\n',train[i].unique())
        print()

ID:
 ['0x1602' '0x1603' '0x1604' ... '0x25feb' '0x25fec' '0x25fed']

Customer_ID:
 ['CUS_0xd40' 'CUS_0x21b1' 'CUS_0x2dbc' ... 'CUS_0xaf61' 'CUS_0x8600'
 'CUS_0x942c']

Month:
 ['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August']

Name:
 ['Aaron Maashoh' nan 'Rick Rothackerj' ... 'Chris Wickhamm'
 'Sarah McBridec' 'Nicks']

Age:
 ['23' '-500' '28_' ... '4808_' '2263' '1342']

SSN:
 ['821-00-0265' '#F%$D@*&8' '004-07-5839' ... '133-16-7738' '031-35-0942'
 '078-73-5990']

Occupation:
 ['Scientist' '_______' 'Teacher' 'Engineer' 'Entrepreneur' 'Developer'
 'Lawyer' 'Media_Manager' 'Doctor' 'Journalist' 'Manager' 'Accountant'
 'Musician' 'Mechanic' 'Writer' 'Architect']

Annual_Income:
 ['19114.12' '34847.84' '34847.84_' ... '20002.88' '39628.99' '39628.99_']

Num_of_Loan:
 ['4' '1' '3' '967' '-100' '0' '0_' '2' '3_' '2_' '7' '5' '5_' '6' '8' '8_'
 '9' '9_' '4_' '7_' '1_' '1464' '6_' '622' '352' '472' '1017' '945' '146'
 '563' '341' '444' '720' '1485' '49' '737' '1106' '466' '728' '313' '843'
 '597_' '617' '119' '663' '640' '92_' '1019' '501' '1302' '39' '716' '848'
 '931' '1214' '186' '424' '1001' '1110' '1152' '457' '1433' '1187' '52'
 '1480' '1047' '1035' '1347_' '33' '193' '699' '329' '1451' '484' '132'
 '649' '995' '545' '684' '1135' '1094' '1204' '654' '58' '348' '614'
 '1363' '323' '1406' '1348' '430' '153' '1461' '905' '1312' '1424' '1154'
 '95' '1353' '1228' '819' '1006' '795' '359' '1209' '590' '696' '1185_'
 '1465' '911' '1181' '70' '816' '1369' '143' '1416' '455' '55' '1096'
 '1474' '420' '1131' '904' '89' '1259' '527' '1241' '449' '983' '418'
 '319' '23' '238' '638' '138' '235_' '280' '1070' '1484' '274' '494'
 '1459_' '404' '1354' '1495' '1391' '601' '1313' '1319' '898' '231' '752'
 '174' '961' '1046' '834' '284' '438' '288' '1463' '1151' '719' '198'
 '1015' '855' '841' '392' '1444' '103' '1320_' '745' '172' '252' '630_'
 '241' '31' '405' '1217' '1030' '1257' '137' '157' '164' '1088' '1236'
 '777' '1048' '613' '330' '1439' '321' '661' '952' '939' '562' '1202'
 '302' '943' '394' '955' '1318' '936' '781' '100' '1329' '1365' '860'
 '217' '191' '32' '282' '351' '1387' '757' '416' '833' '359_' '292'
 '1225_' '1227' '639' '859' '243' '267' '510' '332' '996' '597' '311'
 '492' '820' '336' '123' '540' '131_' '1311_' '1441' '895' '891' '50'
 '940' '935' '596' '29' '1182' '1129_' '1014' '251' '365' '291' '1447'
 '742' '1085' '148' '462' '832' '881' '1225' '1412' '785_' '1127' '910'
 '538' '999' '733' '101' '237' '87' '659' '633' '387' '447' '629' '831'
 '1384' '773' '621' '1419' '289' '143_' '285' '1393' '1131_' '27_' '1359'
 '1482' '1189' '1294' '201' '579' '814' '141' '1320' '581' '1171_' '295'
 '290' '433' '679' '1040' '1054' '1430' '1023' '1077' '1457' '1150' '701'
 '1382' '889' '437' '372' '1222' '126' '1159' '868' '19' '1297' '227_'
 '190' '809' '1216' '1074' '571' '520' '1274' '1340' '991' '316' '697'
 '926' '873' '1002' '378_' '65' '875' '867' '548' '652' '1372' '606'
 '1036' '1300' '17' '1178' '802' '1219_' '1271' '1137' '1496' '439' '196'
 '636' '192' '228' '1053' '229' '753' '1296' '1371' '254' '863' '464'
 '515' '838' '1160' '1289' '1298' '799' '182' '574' '527_' '242' '415'
 '869' '958' '54' '1265' '656' '275' '778' '208' '147' '350' '507' '463'
 '497' '1129' '927' '653' '662' '529' '635' '1027_' '897' '1039' '227'
 '1345' '924' '696_' '1279' '546' '1112' '1210' '526' '300' '1103' '504'
 '136' '1400' '78' '686' '1091' '344' '215' '84' '628' '1470' '968' '1478'
 '83' '1196' '1307' '1132_' '1008' '917' '657' '56' '18' '41' '801' '978'
 '216' '349' '966']

Type_of_Loan:
 ['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'
 'Credit-Builder Loan' 'Auto Loan, Auto Loan, and Not Specified' ...
 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan'
 'Payday Loan, Student Loan, Mortgage Loan, and Not Specified'
 'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan']

Num_of_Delayed_Payment:
 ['7' nan '4' '8_' '6' '1' '-1' '3_' '0' '8' '5' '3' '9' '12' '15' '17'
 '10' '2' '2_' '11' '14' '20' '22' '13' '13_' '14_' '16' '12_' '18' '19'
 '23' '24' '21' '3318' '3083' '22_' '1338' '4_' '26' '11_' '3104' '21_'
 '25' '10_' '183_' '9_' '1106' '834' '19_' '24_' '17_' '23_' '2672' '20_'
 '2008' '-3' '538' '6_' '1_' '16_' '27' '-2' '3478' '2420' '15_' '707'
 '708' '26_' '18_' '3815' '28' '5_' '1867' '2250' '1463' '25_' '7_' '4126'
 '2882' '1941' '2655' '2628' '132' '3069' '306' '0_' '3539' '3684' '1823'
 '4128' '1946' '827' '2297' '2566' '904' '182' '929' '3568' '2503' '1552'
 '2812' '1697' '3764' '851' '3905' '923' '88' '1668' '3253' '808' '2689'
 '3858' '642' '3457' '1402' '1732' '3154' '847' '3037' '2204' '3103'
 '1063' '2056' '1282' '1841' '2569_' '211' '793' '3484' '411' '3491'
 '2072' '3050' '1049' '2162' '3402' '2753' '27_' '1718' '1014' '3260'
 '3855' '84' '2311' '3251' '1832' '4069' '3010' '733' '4241' '166' '2461'
 '1749' '3200' '663_' '2185' '4161' '3009' '359' '2015' '1523' '594'
 '1079' '1199' '186' '1015' '1989' '281' '559' '2165' '1509' '3545' '779'
 '192' '4311' '-2_' '2323' '1471' '1538' '3529' '439' '3456' '3040' '2697'
 '3179' '1332' '3175' '3112' '829' '4022' '3870' '4023' '531' '1511'
 '3092' '3191' '2400' '3621' '3536' '544' '1864' '28_' '142' '2300' '264'
 '72' '497' '398' '2222' '3960' '1473' '3043' '4216' '2903' '2658' '-1_'
 '4042' '1323_' '2184' '921' '1328' '3404' '2438' '809' '47' '1996' '4164'
 '1370' '1204' '2167' '4011' '2590' '2594' '2533' '1663' '1018' '2919'
 '3458' '3316' '2589' '2801' '3355' '2529' '2488' '4266' '1243' '739'
 '845' '4107' '1884' '337' '2660' '290' '674' '2450' '3738' '1792' '2823'
 '2570' '775' '960' '482' '1706' '2493' '3623' '3031' '2794_' '2219_'
 '758_' '1849' '3559' '4096' '3726' '1953' '2657' '4043' '2938' '4384'
 '1647' '2694' '3533' '519' '2677' '2413' '-3_' '4139' '2609' '4326'
 '4211' '823' '3011' '1608' '2860' '4219' '4047' '1531' '742' '52' '4024'
 '1673' '49' '2243' '1685' '1869' '2587' '3489' '749' '1164' '2616' '848_'
 '4134' '1530' '1502' '4075' '3845' '1060' '2573' '2128' '328' '640'
 '2585' '2230' '1795' '1180' '1534' '3739' '3313' '4191' '996' '372'
 '3340' '3177' '602' '787' '4135' '3878' '4059' '1218' '4051' '1766'
 '1359' '3107' '585' '1263' '2511' '709' '3632' '4077' '2943' '2793'
 '3245' '2317' '1640' '2237_' '3819' '252' '3978' '1498' '1833' '2737'
 '1192' '1481' '700' '271' '2286' '273' '1215' '3944' '2070' '1478' '3749'
 '871' '2508' '2959' '130' '294' '3097_' '3511' '415' '2196' '2138' '2149'
 '1874' '1553' '3847' '3222' '1222' '2907' '3051' '98' '1598' '416' '2314'
 '2955' '1691' '1450' '2021' '1636' '80' '3708' '195' '320' '2945' '1911'
 '3416' '3796' '4159' '2255' '938' '4397' '3776' '2148' '1994' '853'
 '1178' '1633' '196' '3864' '714' '1687' '1034' '468' '1337' '2044' '1541'
 '3661' '1211' '2645' '2007' '102' '1891' '3162' '3142' '2566_' '2766'
 '3881' '2728' '2671' '1952' '3580' '2705' '4251' '3840_' '972' '3119'
 '3502' '4185' '2954' '683' '1614' '1572' '4302' '3447' '1852' '2131'
 '1900' '1699' '133' '2018' '2127' '508' '210' '577' '1664' '2604' '1411'
 '2351' '867' '1371' '2352' '1191' '905' '4053' '3869' '933' '3660' '3300'
 '3629' '3208' '2142' '2521' '450' '583' '876' '121' '3919' '2560' '2578'
 '2060' '813' '1236' '1489' '4360' '1154' '2544' '4172' '2924' '426'
 '4270' '2768' '3909' '3951' '2712' '2498' '3171' '1750' '197' '2569'
 '265' '4293' '887' '2707' '2397' '4337' '4249' '2751' '2950' '1859' '107'
 '2348' '2506' '2810' '2873' '1301' '2262' '1890' '3078' '3865' '3268'
 '2777' '3105' '1278' '3793' '2276' '2879' '4298' '2141' '223' '2239'
 '846' '1862' '2756' '1181' '1184' '2617' '3972' '2334' '3900' '2759'
 '4169' '2280' '2492' '2729' '3750' '1825' '309' '2431' '3099' '2080'
 '2279' '2666' '3722' '1976' '529' '1985' '3060' '4278' '3212' '46' '3148'
 '3467' '4231' '3790' '473' '1536' '3955' '2324' '2381' '1177' '371'
 '2896' '3880' '2991' '4319' '1061' '662' '4144' '693' '2006' '3115'
 '2278_' '3751' '1861' '4262' '2913' '2615' '3492' '800' '3766' '384'
 '3407' '1087' '3329' '1086' '2216' '1087_' '2457' '3522' '3274' '3488'
 '2854' '238' '351' '3706' '4280' '4095' '2926' '1329' '3370' '283' '1392'
 '1743' '2429' '974' '3156' '1133' '4388' '3243' '4282' '2523' '4281'
 '3415' '2001' '441' '94' '3499' '969' '3368' '106' '1004' '2638' '3946'
 '2956' '4324' '85' '4113' '819' '615' '1172' '2553' '1765' '3495' '2820'
 '4239' '4340' '1295_' '2636' '4295' '1653' '1325' '1879' '1096' '1735'
 '3584' '1073' '1975' '3827' '2552' '3754' '2378' '532' '926' '2376'
 '3636' '3763' '778' '2621' '804' '754' '2418' '4019' '3926' '3861_'
 '3574' '175' '162' '2834' '3765' '2354' '523' '2274' '1606' '1443' '1354'
 '2142_' '1422' '2278' '1045' '4106' '3155' '666' '659' '3229' '1216'
 '2076' '1473_' '2384' '1954' '719' '2534' '4002' '541' '2875' '4344'
 '2081' '3894' '1256' '676' '4178' '399' '86' '1571' '4037' '1967' '4005'
 '3216' '1150' '2591' '1801' '3721' '1775' '2260' '3707' '4292' '1820'
 '145' '1480' '1850' '430' '217' '3920_' '1389' '1579' '3391' '2385'
 '3336' '3392' '3688' '221' '2047']

Changed_Credit_Limit:
 ['11.27' '_' '6.27' ... '27.38' '25.16' '21.17']

Credit_Mix:
 ['_' 'Good' 'Standard' 'Bad']

Outstanding_Debt:
 ['809.98' '605.03' '1303.01' ... '3571.7_' '3571.7' '502.38']

Credit_History_Age:
 ['22 Years and 1 Months' nan '22 Years and 3 Months'
 '22 Years and 4 Months' '22 Years and 5 Months' '22 Years and 6 Months'
 '22 Years and 7 Months' '26 Years and 7 Months' '26 Years and 8 Months'
 '26 Years and 9 Months' '26 Years and 10 Months' '26 Years and 11 Months'
 '27 Years and 0 Months' '27 Years and 1 Months' '27 Years and 2 Months'
 '17 Years and 9 Months' '17 Years and 10 Months' '17 Years and 11 Months'
 '18 Years and 1 Months' '18 Years and 2 Months' '18 Years and 3 Months'
 '18 Years and 4 Months' '17 Years and 3 Months' '17 Years and 4 Months'
 '17 Years and 5 Months' '17 Years and 6 Months' '17 Years and 7 Months'
 '17 Years and 8 Months' '30 Years and 8 Months' '30 Years and 9 Months'
 '30 Years and 10 Months' '30 Years and 11 Months' '31 Years and 0 Months'
 '31 Years and 1 Months' '31 Years and 2 Months' '31 Years and 3 Months'
 '32 Years and 0 Months' '32 Years and 2 Months' '32 Years and 3 Months'
 '32 Years and 5 Months' '32 Years and 6 Months' '30 Years and 7 Months'
 '14 Years and 8 Months' '14 Years and 9 Months' '14 Years and 10 Months'
 '14 Years and 11 Months' '15 Years and 0 Months' '15 Years and 1 Months'
 '15 Years and 2 Months' '21 Years and 4 Months' '21 Years and 5 Months'
 '21 Years and 6 Months' '21 Years and 7 Months' '21 Years and 8 Months'
 '21 Years and 9 Months' '21 Years and 10 Months' '21 Years and 11 Months'
 '26 Years and 6 Months' '19 Years and 2 Months' '19 Years and 3 Months'
 '19 Years and 4 Months' '19 Years and 5 Months' '19 Years and 6 Months'
 '19 Years and 7 Months' '19 Years and 8 Months' '25 Years and 5 Months'
 '25 Years and 6 Months' '25 Years and 7 Months' '25 Years and 8 Months'
 '25 Years and 9 Months' '25 Years and 10 Months' '25 Years and 11 Months'
 '26 Years and 0 Months' '27 Years and 3 Months' '27 Years and 4 Months'
 '27 Years and 5 Months' '8 Years and 11 Months' '9 Years and 0 Months'
 '9 Years and 1 Months' '9 Years and 2 Months' '9 Years and 3 Months'
 '9 Years and 4 Months' '9 Years and 6 Months' '18 Years and 5 Months'
 '18 Years and 6 Months' '18 Years and 8 Months' '18 Years and 9 Months'
 '16 Years and 10 Months' '16 Years and 11 Months' '17 Years and 0 Months'
 '17 Years and 1 Months' '17 Years and 2 Months' '29 Years and 2 Months'
 '29 Years and 3 Months' '29 Years and 4 Months' '29 Years and 6 Months'
 '29 Years and 8 Months' '29 Years and 9 Months' '6 Years and 5 Months'
 '6 Years and 6 Months' '6 Years and 7 Months' '6 Years and 8 Months'
 '6 Years and 9 Months' '6 Years and 10 Months' '6 Years and 11 Months'
 '7 Years and 0 Months' '27 Years and 6 Months' '27 Years and 7 Months'
 '27 Years and 8 Months' '27 Years and 9 Months' '18 Years and 7 Months'
 '19 Years and 9 Months' '19 Years and 10 Months' '10 Years and 1 Months'
 '10 Years and 2 Months' '10 Years and 3 Months' '10 Years and 4 Months'
 '10 Years and 5 Months' '10 Years and 6 Months' '10 Years and 7 Months'
 '10 Years and 8 Months' '32 Years and 9 Months' '32 Years and 10 Months'
 '32 Years and 11 Months' '33 Years and 0 Months' '33 Years and 1 Months'
 '33 Years and 4 Months' '12 Years and 3 Months' '12 Years and 4 Months'
 '12 Years and 5 Months' '12 Years and 6 Months' '12 Years and 7 Months'
 '12 Years and 8 Months' '12 Years and 10 Months' '12 Years and 9 Months'
 '13 Years and 8 Months' '13 Years and 11 Months' '14 Years and 0 Months'
 '14 Years and 1 Months' '14 Years and 2 Months' '14 Years and 3 Months'
 '30 Years and 3 Months' '30 Years and 4 Months' '30 Years and 5 Months'
 '30 Years and 6 Months' '8 Years and 9 Months' '8 Years and 10 Months'
 '18 Years and 10 Months' '18 Years and 11 Months' '19 Years and 0 Months'
 '19 Years and 1 Months' '8 Years and 8 Months' '13 Years and 1 Months'
 '13 Years and 2 Months' '13 Years and 3 Months' '13 Years and 5 Months'
 '13 Years and 6 Months' '13 Years and 7 Months' '22 Years and 0 Months'
 '26 Years and 1 Months' '26 Years and 2 Months' '13 Years and 4 Months'
 '13 Years and 9 Months' '27 Years and 11 Months' '28 Years and 0 Months'
 '28 Years and 1 Months' '28 Years and 2 Months' '28 Years and 3 Months'
 '28 Years and 4 Months' '28 Years and 5 Months' '28 Years and 6 Months'
 '7 Years and 10 Months' '7 Years and 11 Months' '8 Years and 0 Months'
 '8 Years and 1 Months' '8 Years and 2 Months' '8 Years and 3 Months'
 '8 Years and 4 Months' '8 Years and 5 Months' '24 Years and 3 Months'
 '24 Years and 4 Months' '24 Years and 5 Months' '24 Years and 6 Months'
 '24 Years and 7 Months' '24 Years and 8 Months' '24 Years and 9 Months'
 '1 Years and 2 Months' '1 Years and 3 Months' '1 Years and 4 Months'
 '1 Years and 5 Months' '1 Years and 6 Months' '1 Years and 7 Months'
 '1 Years and 8 Months' '10 Years and 11 Months' '11 Years and 0 Months'
 '11 Years and 1 Months' '11 Years and 2 Months' '11 Years and 3 Months'
 '11 Years and 4 Months' '11 Years and 5 Months' '11 Years and 6 Months'
 '19 Years and 11 Months' '20 Years and 0 Months' '20 Years and 1 Months'
 '10 Years and 9 Months' '10 Years and 10 Months' '14 Years and 4 Months'
 '14 Years and 5 Months' '14 Years and 6 Months' '20 Years and 8 Months'
 '20 Years and 9 Months' '20 Years and 10 Months' '20 Years and 11 Months'
 '21 Years and 0 Months' '21 Years and 1 Months' '21 Years and 2 Months'
 '21 Years and 3 Months' '0 Years and 4 Months' '0 Years and 5 Months'
 '0 Years and 6 Months' '0 Years and 8 Months' '0 Years and 9 Months'
 '0 Years and 10 Months' '31 Years and 7 Months' '31 Years and 8 Months'
 '31 Years and 9 Months' '31 Years and 10 Months' '31 Years and 11 Months'
 '32 Years and 1 Months' '12 Years and 11 Months' '13 Years and 0 Months'
 '27 Years and 10 Months' '11 Years and 7 Months' '11 Years and 8 Months'
 '11 Years and 9 Months' '11 Years and 10 Months' '24 Years and 10 Months'
 '24 Years and 11 Months' '25 Years and 0 Months' '25 Years and 1 Months'
 '25 Years and 2 Months' '25 Years and 3 Months' '18 Years and 0 Months'
 '31 Years and 4 Months' '31 Years and 5 Months' '31 Years and 6 Months'
 '5 Years and 2 Months' '5 Years and 3 Months' '5 Years and 4 Months'
 '5 Years and 5 Months' '5 Years and 6 Months' '5 Years and 7 Months'
 '5 Years and 8 Months' '5 Years and 9 Months' '2 Years and 11 Months'
 '3 Years and 0 Months' '3 Years and 1 Months' '3 Years and 2 Months'
 '3 Years and 3 Months' '3 Years and 4 Months' '3 Years and 5 Months'
 '3 Years and 6 Months' '16 Years and 4 Months' '16 Years and 5 Months'
 '16 Years and 6 Months' '16 Years and 7 Months' '16 Years and 8 Months'
 '16 Years and 9 Months' '22 Years and 11 Months' '23 Years and 0 Months'
 '23 Years and 2 Months' '23 Years and 3 Months' '23 Years and 4 Months'
 '23 Years and 5 Months' '23 Years and 6 Months' '8 Years and 6 Months'
 '8 Years and 7 Months' '4 Years and 5 Months' '4 Years and 6 Months'
 '4 Years and 7 Months' '4 Years and 8 Months' '4 Years and 9 Months'
 '4 Years and 10 Months' '4 Years and 11 Months' '5 Years and 0 Months'
 '32 Years and 8 Months' '33 Years and 2 Months' '33 Years and 3 Months'
 '12 Years and 2 Months' '32 Years and 4 Months' '29 Years and 11 Months'
 '30 Years and 0 Months' '30 Years and 2 Months' '26 Years and 3 Months'
 '26 Years and 4 Months' '26 Years and 5 Months' '7 Years and 6 Months'
 '7 Years and 7 Months' '7 Years and 8 Months' '7 Years and 9 Months'
 '28 Years and 7 Months' '28 Years and 8 Months' '28 Years and 9 Months'
 '28 Years and 10 Months' '29 Years and 5 Months' '29 Years and 7 Months'
 '20 Years and 2 Months' '20 Years and 3 Months' '20 Years and 4 Months'
 '20 Years and 5 Months' '20 Years and 6 Months' '20 Years and 7 Months'
 '28 Years and 11 Months' '29 Years and 0 Months' '13 Years and 10 Months'
 '1 Years and 9 Months' '1 Years and 10 Months' '1 Years and 11 Months'
 '33 Years and 5 Months' '33 Years and 6 Months' '33 Years and 7 Months'
 '33 Years and 8 Months' '29 Years and 1 Months' '5 Years and 1 Months'
 '5 Years and 10 Months' '5 Years and 11 Months' '6 Years and 0 Months'
 '6 Years and 1 Months' '6 Years and 2 Months' '6 Years and 3 Months'
 '22 Years and 9 Months' '22 Years and 10 Months' '23 Years and 1 Months'
 '22 Years and 2 Months' '15 Years and 4 Months' '15 Years and 5 Months'
 '15 Years and 6 Months' '15 Years and 7 Months' '15 Years and 8 Months'
 '15 Years and 9 Months' '15 Years and 10 Months' '15 Years and 11 Months'
 '2 Years and 3 Months' '2 Years and 4 Months' '2 Years and 5 Months'
 '2 Years and 6 Months' '2 Years and 7 Months' '2 Years and 8 Months'
 '2 Years and 9 Months' '2 Years and 10 Months' '2 Years and 0 Months'
 '16 Years and 2 Months' '16 Years and 3 Months' '22 Years and 8 Months'
 '9 Years and 5 Months' '9 Years and 7 Months' '9 Years and 8 Months'
 '9 Years and 9 Months' '11 Years and 11 Months' '12 Years and 0 Months'
 '12 Years and 1 Months' '24 Years and 2 Months' '16 Years and 0 Months'
 '16 Years and 1 Months' '14 Years and 7 Months' '25 Years and 4 Months'
 '15 Years and 3 Months' '7 Years and 1 Months' '7 Years and 2 Months'
 '7 Years and 3 Months' '7 Years and 4 Months' '7 Years and 5 Months'
 '23 Years and 7 Months' '23 Years and 8 Months' '23 Years and 9 Months'
 '30 Years and 1 Months' '29 Years and 10 Months' '9 Years and 10 Months'
 '9 Years and 11 Months' '10 Years and 0 Months' '2 Years and 2 Months'
 '23 Years and 10 Months' '23 Years and 11 Months' '24 Years and 0 Months'
 '24 Years and 1 Months' '6 Years and 4 Months' '0 Years and 1 Months'
 '0 Years and 2 Months' '0 Years and 3 Months' '0 Years and 7 Months'
 '3 Years and 8 Months' '32 Years and 7 Months' '3 Years and 7 Months'
 '3 Years and 9 Months' '3 Years and 10 Months' '0 Years and 11 Months'
 '1 Years and 0 Months' '1 Years and 1 Months' '4 Years and 4 Months'
 '3 Years and 11 Months' '4 Years and 0 Months' '4 Years and 1 Months'
 '4 Years and 2 Months' '4 Years and 3 Months' '2 Years and 1 Months']

Payment_of_Min_Amount:
 ['No' 'NM' 'Yes']

Amount_invested_monthly:
 ['80.41529544' '118.2802216' '81.69952126' ... '24.02847745' '251.6725822'
 '167.1638652']

Payment_Behaviour:
 ['High_spent_Small_value_payments' 'Low_spent_Large_value_payments'
 'Low_spent_Medium_value_payments' 'Low_spent_Small_value_payments'
 'High_spent_Medium_value_payments' '!@9#%8'
 'High_spent_Large_value_payments']

Monthly_Balance:
 ['312.4940887' '284.6291625' '331.2098629' ... 516.8090833 319.1649785
 393.6736956]

Credit_Score:
 ['Good' 'Standard' 'Poor']

In [24]:
train["Credit_Mix"].value_counts()

Standard    36479
Good        24337
_           20195
Bad         18989
Name: Credit_Mix, dtype: int64

In [25]:
train["Changed_Credit_Limit"].value_counts()

_        2091
8.22      135
11.5      127
11.32     126
7.35      121
         ...
-5.78       1
30.1        1
35.89       1
-3.67       1
21.17       1
Name: Changed_Credit_Limit, Length: 3635, dtype: int64

In [26]:
train["Changed_Credit_Limit"].value_counts()

_        2091
8.22      135
11.5      127
11.32     126
7.35      121
         ...
-5.78       1
30.1        1
35.89       1
-3.67       1
21.17       1
Name: Changed_Credit_Limit, Length: 3635, dtype: int64

In [27]:
train["Payment_Behaviour"].value_counts()

Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: Payment_Behaviour, dtype: int64

In [28]:
train["Num_of_Loan"].value_counts()

3        14386
2        14250
4        14016
0        10380
1        10083
         ...
1320_        1
103          1
1444         1
392          1
966          1
Name: Num_of_Loan, Length: 434, dtype: int64

In [29]:
train["Occupation"].value_counts()

_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: Occupation, dtype: int64

In [30]:
train["Num_of_Delayed_Payment"].value_counts()

19      5327
17      5261
16      5173
10      5153
18      5083
        ...
848_       1
4134       1
1530       1
1502       1
2047       1
Name: Num_of_Delayed_Payment, Length: 749, dtype: int64

In [31]:
train["Payment_of_Min_Amount"].value_counts()

Yes    52326
No     35667
NM     12007
Name: Payment_of_Min_Amount, dtype: int64

In [32]:

train["Credit_History_Age"].value_counts()

15 Years and 11 Months    446
19 Years and 4 Months     445
19 Years and 5 Months     444
17 Years and 11 Months    443
19 Years and 3 Months     441
                         ...
0 Years and 3 Months       20
0 Years and 2 Months       15
33 Years and 7 Months      14
33 Years and 8 Months      12
0 Years and 1 Months        2
Name: Credit_History_Age, Length: 404, dtype: int64

In [33]:
train["Month"].value_counts()

January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: Month, dtype: int64

In [34]:
train["Monthly_Inhand_Salary"].value_counts()

6769.130000    15
6358.956667    15
2295.058333    15
6082.187500    15
3080.555000    14
               ..
1087.546445     1
3189.212103     1
5640.117744     1
7727.560450     1
2443.654131     1
Name: Monthly_Inhand_Salary, Length: 13235, dtype: int64

In [35]:
train["Num_Bank_Accounts"].value_counts()

6       13001
7       12823
8       12765
4       12186
5       12118
        ...
1626        1
1470        1
887         1
211         1
697         1
Name: Num_Bank_Accounts, Length: 943, dtype: int64

In [36]:
train[train["Num_Bank_Accounts"]<0]["Num_Bank_Accounts"].value_counts()

-1    21
Name: Num_Bank_Accounts, dtype: int64

In [37]:
train[train["Num_Bank_Accounts"]> 300]["Num_Bank_Accounts"].value_counts()

803     7
791     5
1668    5
1033    4
312     4
       ..
1601    1
996     1
797     1
703     1
697     1
Name: Num_Bank_Accounts, Length: 790, dtype: int64

In [38]:
train["Num_Credit_Card"].value_counts()

5       18459
7       16615
6       16559
4       14030
3       13277
        ...
791         1
1118        1
657         1
640         1
679         1
Name: Num_Credit_Card, Length: 1179, dtype: int64

In [39]:
train["Delay_from_due_date"].value_counts()

 15    3596
 13    3424
 8     3324
 14    3313
 10    3281
       ...
-4       62
 65      56
-5       33
 66      32
 67      22
Name: Delay_from_due_date, Length: 73, dtype: int64

In [40]:
train["Num_Credit_Inquiries"].value_counts()

4.0       11271
3.0        8890
6.0        8111
7.0        8058
2.0        8028
          ...
1721.0        1
1750.0        1
2397.0        1
621.0         1
74.0          1
Name: Num_Credit_Inquiries, Length: 1223, dtype: int64

In [41]:
train["Credit_Utilization_Ratio"].value_counts()

26.407909    2
33.163023    2
26.822620    1
30.462162    1
33.933755    1
            ..
38.730069    1
30.017515    1
27.279794    1
27.002436    1
34.192463    1
Name: Credit_Utilization_Ratio, Length: 99998, dtype: int64